.patient-card {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.patient-card h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.patient-card p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 10px;
}

.patient-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.patient-card-footer p {
  font-size: 14px;
  color: #999999;
}

.left-side {
  text-align: right;
}

.patient-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-history {
  width: 800px;
  margin-bottom: 20px;
}

.patient-history h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.patient-history-card {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.patient-history-card h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.patient-history-card p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 10px;
}

.patient-history-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.patient-history-card-footer p {
  font-size: 14px;
  color: #999999;
}
